.post {
  margin-bottom: 0.7em; 
  display: table; 
  cursor: pointer;
}

.post:hover {
  font-weight: bold;
}

.user {
  white-space: pre;
}

.postBody {
  font-size: 18px;
  margin-bottom: 1.5em;
}

#backButton {
  margin-bottom: 20px;
}

#app {

  .col-4 {
    margin-bottom: 25px;
  }

  div.card {

    .card-img {
      max-height: 200px;
      overflow: hidden;
    }
  }
}